 <div class="container">
    <div class="footer__body">
      <div class="footer__cols"><div class="footer__col footer__col--sm medium-hide small-hide">
                <div class="footer__menu">
                  <h5 class="footer__menu-title">Company</h5><ul class="footer__links list-unstyled"><li>
                          <a href="/pages/our-story" title="About">About</a>
                        </li><li>
                          <a href="/pages/mirage-x-stephanie-keu" title="Lookbook">Lookbook</a>
                        </li><li>
                          <a href="/blogs/blog" title="Blog">Blog</a>
                        </li></ul>
                </div>
              </div><div class="footer__col footer__col--sm medium-hide small-hide">
                <div class="footer__menu">
                  <h5 class="footer__menu-title"><a href="#" title="Get Help">Get Help</a></h5><ul class="footer__links list-unstyled"><li>
                          <a href="/pages/faqs" title="Help Center">Help Center</a>
                        </li><li>
                          <a href="/policies/refund-policy" title="Return Policiy">Return Policiy</a>
                        </li><li>
                          <a href="/policies/shipping-policy" title="Shipping Info">Shipping Info</a>
                        </li><li>
                          <a href="/policies/terms-of-service" title="Terms of Service">Terms of Service</a>
                        </li></ul>
                </div>
              </div><div class="footer__col footer__col--sm medium-hide small-hide">
                <div class="footer__menu">
                  <h5 class="footer__menu-title">Account</h5><ul class="footer__links list-unstyled"><li>
                          <a href="/account/login" title="Log In">Log In</a>
                        </li><li>
                          <a href="/account/register" title="Sign Up">Sign Up</a>
                        </li><li>
                          <a href="/products/gift-card" title="Gift Card">Gift Card</a>
                        </li></ul>
                </div>
              </div><div class="footer__col footer__col--sm medium-hide small-hide">
                  <div class="footer__menu">
                    <h5 class="footer__menu-title">Connect</h5><ul class="footer__links list-unstyled svg-color-inherit"><li>
                            <a href="https://www.pinterest.com/" title="Pinterest" target="_blank" rel="noopener noreferrer">Pinterest</a>
                          </li><li>
                            <a href="https://www.instagram.com/" title="Instagram" target="_blank" rel="noopener noreferrer">Instagram</a>
                          </li><li>
                            <a href="https://www.facebook.com/" title="Facebook" target="_blank" rel="noopener noreferrer">Facebook</a>
                          </li><li>
                            <a href="https://www.tiktok.com/" title="TikTok" target="_blank" rel="noopener noreferrer">TikTok</a>
                          </li></ul>
                  </div>
                </div><div class="footer__col footer__col--lg">
                    <h5 class="footer__menu-title" >Sign up to receive 10% off your first order &amp; exclusive product launches, and unique experiences.</h5>
                <div class="footer__content"><div class="footer__content-entry">
                        
                      </div><div class="footer__newsletter"><form method="post" action="/contact#contact-form-075332fc-22c3-4d56-9cb5-95c07cf43430" id="contact-form-075332fc-22c3-4d56-9cb5-95c07cf43430" accept-charset="UTF-8" class="newsletter-form js-form" data-cptcha="true" data-hcaptcha-bound="true"><input type="hidden" name="form_type" value="customer"><input type="hidden" name="utf8" value="✓"><input type="hidden" name="contact[tags]" value="newsletter">

  <div class="newsletter__controls">
<div class="field newsletter__field" data-input-wrapper=""><label for="NewsletterForm--sections--20715337154838__footer" class="field__label visually-hidden">Email</label><input type="email" id="NewsletterForm--sections--20715337154838__footer" name="contact[email]" placeholder="Email address" required="" pattern="^([a-zA-Z0-9_\-\+\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,9})$" aria-required="true" autocapitalize="off" autocomplete="email" class="field__input"><h3 class="field__message hidden" data-message=""></h3></div>
<button type="submit" class="button-reset newsletter__button" id="Subscribe-sections--20715337154838__footer" name="commit" aria-label="Submit">Submit</button>
  </div><div class="h-captcha" data-sitekey="f06e6c50-85a8-45c8-87d0-21a2b65856fe" data-size="invisible"><iframe aria-hidden="true" data-hcaptcha-widget-id="0y7jncahqrz" data-hcaptcha-response="" src="https://newassets.hcaptcha.com/captcha/v1/792e97689339324831cede8bf522ecf75949692e/static/hcaptcha.html#frame=checkbox-invisible" style="display: none;"></iframe><textarea id="h-captcha-response-0y7jncahqrz" name="h-captcha-response" style="display: none;"></textarea></div></form></div><menu-drawer><style data-shopify="">
  .country-drawer__button-text,
  .header__utils-link span.country-drawer__button-text {
    display: flex;
    align-items: start;
    column-gap: 4px;
  }
</style>


<details id="Country-drawer-footer" class="drawer__container">
  <summary class="drawer__button drawer__button--text svg-color-inherit link footer__drawer-button" id="Country-drawer-button-footer" aria-label="Toggle country drawer" role="button" aria-controls="Country-menu-drawer-footer" aria-expanded="false">
    <span class="drawer__button-text country-drawer__button-text">Change shipping country: EUR | €</span>

    <noscript><svg width="66" height="64" viewBox="0 0 66 64" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M0 32H63.3079" stroke="#111111"/>
  <path d="M49.98 46.9938C53.7027 38.8007 56.6521 35.3612 64 32.0224C56.4879 28.3248 53.5721 24.8728 49.98 17.0059" data-ignore-fill stroke="#111111"/>
</svg>
</noscript>
  </summary>

  <div class="drawer__content js-drawer" id="Country-menu-drawer-footer" tabindex="-1">
    <button class="drawer__button-close text-current button-reset no-js-hidden js-btn-close-drawer svg-color-inherit" aria-label="Close country drawer" aria-controls="Country-menu-drawer-footer" aria-expanded="false"><svg width="66" height="64" viewBox="0 0 66 64" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M0 32H63.3079" stroke="#111111"></path>
  <path d="M49.98 46.9938C53.7027 38.8007 56.6521 35.3612 64 32.0224C56.4879 28.3248 53.5721 24.8728 49.98 17.0059" data-ignore-fill="" stroke="#111111"></path>
</svg>
</button>

    <div class="drawer__row drawer__row--gutter-sm"><h2 class="drawer__title heading-static">Change shipping country</h2><p>Update your country and language to be accurate with the place you're browsing from.</p></div><div class="drawer__row">
        <localization-form>
          <form method="post" action="/localization" id="localization_form" accept-charset="UTF-8" class="shopify-localization-form" enctype="multipart/form-data"><input type="hidden" name="form_type" value="localization"><input type="hidden" name="utf8" value="✓"><input type="hidden" name="_method" value="put"><input type="hidden" name="return_to" value="/collections/ring">
<div class="form-row">
                <div class="select-input">
                  <label for="country-drawer-selector-footer" class="select-input__label visually-hidden">Change country and currency</label>

                  <div class="select-input__wrapper">
                    <select name="country_code" id="country-drawer-selector-footer" class="select-input__el" aria-describedby="a11y-refresh-page-message"><option value="AU">Australia (EUR|€)</option><option value="AT">Austria (EUR|€)</option><option value="BE" selected="">Belgium (EUR|€)</option><option value="CA">Canada (EUR|€)</option><option value="CZ">Czechia (EUR|€)</option><option value="DK">Denmark (EUR|€)</option><option value="FI">Finland (EUR|€)</option><option value="FR">France (EUR|€)</option><option value="DE">Germany (EUR|€)</option><option value="HK">Hong Kong SAR (EUR|€)</option><option value="IE">Ireland (EUR|€)</option><option value="IL">Israel (EUR|€)</option><option value="IT">Italy (EUR|€)</option><option value="JP">Japan (EUR|€)</option><option value="MY">Malaysia (EUR|€)</option><option value="NL">Netherlands (EUR|€)</option><option value="NZ">New Zealand (EUR|€)</option><option value="NO">Norway (EUR|€)</option><option value="PL">Poland (EUR|€)</option><option value="PT">Portugal (EUR|€)</option><option value="SG">Singapore (EUR|€)</option><option value="KR">South Korea (EUR|€)</option><option value="ES">Spain (EUR|€)</option><option value="SE">Sweden (EUR|€)</option><option value="CH">Switzerland (EUR|€)</option><option value="AE">United Arab Emirates (EUR|€)</option><option value="GB">United Kingdom (EUR|€)</option><option value="US">United States (EUR|€)</option></select><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M13.3332 5.3335L7.99984 10.6668L2.6665 5.3335" stroke="#111111" data-ignore-fill=""></path>
</svg>
</div>
                </div>
              </div><div class="form-row no-js">
              <button type="submit" class="button button--outlined button--full no-js">Submit</button>
            </div>
          </form>
        </localization-form>
      </div></div>
</details>
</menu-drawer></div>
              </div></div>

      

    </div>
  </div>
