<h1>{{ section.settings.title}}</h1>
<h4>{{ section.settings.subtext_title }}</h4>
{% if section.settings.button_url == blank  %}
    {% assign home_btn_url = shop.secure_url %}
{% else %}
    {%  assign home_btn_url = section.settings.button_url %}
{% endif %}
<a class="404_home_btn" href="{{ home_btn_url }}">{{ section.settings.button_label }}</a>

{% schema %}
{
    "name": "Template 404",
    "tag": "section",
    "class": "section-404-center",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default" : "404",
            "label": "404 - Title",
        },
        {
            "type": "text",
            "id": "subtext_title",
            "default" : "The page you are looking is not available",
            "label": "404 - Title",
        },
        {
            "type": "text",
            "id": "button_label",
            "default" : "Back to Homepage",
            "label": "Back to Home",
        },
        {
            "type": "url",
            "id": "button_url",
            "label" : "Button Url"
        }
    ]
}
{% endschema %}