.customer-account-box {
    display: flex
;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 20px;
    border: 1px solid #d8d8d8;
    width: 100%;
}
nav.account-dashboard__nav{
    width: 30%;
}
.account-dashboard-details {
    margin: 20px auto;
    width: 60%;
}

.customer-account-main {
    width: 1200px;
    margin: 0 auto;
}
ul.list-unstyled li {
    border-bottom: 1px solid #d8d8d8;
    padding: 26px 0;
    /* color: #000000 !important; */
}

ul.list-unstyled li a {
    justify-content: space-between;
    display: flex
;
    color: rgb(17, 17, 17);
    text-decoration: none;
}
ul.list-unstyled {
    display: flex
;
    flex-direction: column;
}
.account-dashboard-details {
    margin: 20px auto;
    display: flex
;
    justify-content: space-around;
    width: 60%;
}
.account-orders ul {
    padding: 0;
}
.account-orders ul li {
    display: flex
;
margin:  10px 0;
    border: 1px solid #d8d8d8;
}
div#account-orders {
    width: 100%;
}

div#account-addresses {
    width: 100%;
}