.blog-pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.pagination-list {
  display: flex;
  gap: 8px;
  list-style: none;
  padding: 0;
}

.pagination-button,
.pagination-list a {
  padding: 8px 16px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  transition: background 0.3s ease;
}

.pagination-button:hover,
.pagination-list a:hover {
  background-color: #444;
}

.pagination-part.active span {
  padding: 8px 16px;
  background-color: #888;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
}
.no-cart-container a {
    background: white;
    color: black;
    text-decoration: none;
    font-size: 18px;
    border-radius: 25px;
    border: 1px solid black;
    padding: 15px 25px;
    transition: 0.3s all ease-in-out;
}
.no-cart-container a:hover {
    background: black !important;
    color: white;
}
.has-children > .submenu {
  display: none;
  position: absolute;
  left: 0;

  z-index: 9999;
  background: white;
  padding: 10px;
}

.has-children:hover > .submenu {
    display: grid;
    margin: 0 80px;
    padding: 33px 0;
    grid-template-columns: repeat(5, 1fr);
}
.submenu-image-block a img {
    max-width: 190px !important;
}
.submenu-image-block {
  position: relative;
  overflow: hidden;
}

.submenu-image-wrapper {
  position: relative;
  display: block;
  width: 190px;
  height: 240px;
}

.submenu-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

.submenu-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.submenu-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.submenu-explore {
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(10px);
}

.submenu-image-wrapper:hover img {
  transform: scale(1.05);
}

.submenu-image-wrapper:hover .submenu-overlay {
  opacity: 1;
}

.submenu-image-wrapper:hover .submenu-title {
  transform: translateY(-10px);
}

.submenu-image-wrapper:hover .submenu-explore {
  opacity: 1;
  transform: translateY(0);
}

.home-page-header {
    display: grid
;
    grid-template-columns: 1fr 1fr;
}
.home-page-header .home-head-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-head-right {
    background: rgb(63, 74, 45);
    display: flex
;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2.home-head-title {
    text-align: center;
    font-size: 66px;
    color: white;
    margin: 0;
}