.blog-pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.pagination-list {
  display: flex;
  gap: 8px;
  list-style: none;
  padding: 0;
}

.pagination-button,
.pagination-list a {
  padding: 8px 16px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  transition: background 0.3s ease;
}

.pagination-button:hover,
.pagination-list a:hover {
  background-color: #444;
}

.pagination-part.active span {
  padding: 8px 16px;
  background-color: #888;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
}
.no-cart-container a {
    background: white;
    color: black;
    text-decoration: none;
    font-size: 18px;
    border-radius: 25px;
    border: 1px solid black;
    padding: 15px 25px;
    transition: 0.3s all ease-in-out;
}
.no-cart-container a:hover {
    background: black !important;
    color: white;
}
.has-children > .submenu {
  display: none;
  position: absolute;
  left: 0;
  background: white;
  padding: 10px;
}

.has-children:hover > .submenu {
    display: grid;
    margin: 0 80px;
    grid-template-columns: repeat(5, 1fr);
}
.submenu-image-block a img {
    max-width: 190px !important;
}