
.custom-login form {
    display: flex
;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}
.custom-login {
    padding-top: 70px;
    margin-left: 70px;
}
.login-small-container {
    width: 80%;
    margin: 0 auto;
}

.login-small-container {
    width: 80%;
    display: flex
;
    margin: 0 auto;
    flex-direction: column;
}
.custom-login form  input {
    height: 40px;
    width: 100%;
    border: 0.2px solid #e3e3e3;
    transition: all 0.5s ease-in-out;
}
.custom-login .login-title {
    font-weight: 400;
}

.custom-login form  label {
    color: #969696;
}
.custom-login form  input:hover , .custom-login form  input:active{
    border: 0.2px solid #020202 !important;
}
.login-errors {
  color: #d00;
  background: #fdd;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #d00;
  border-radius: 4px;
}
.custom-login button {
    background: rgb(17, 17, 17);
    width: 60%;
    padding: 18px 0px;
    transition: all 0.4s;
    border-radius: 35px;
}
input::placeholder {
    padding-left: 15px;
}

.custom-login button:hover {
    border: 1px solid rgb(17, 17, 17);
    background: none;
    color: black;
}
.footer__body{
    padding-top: 105px;
}

.login-link {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    font-size: 13px;
    border: none;
    letter-spacing: 2.2px;
    box-shadow: none;
    text-transform: uppercase;
    text-decoration: none;
    color: #969696;
    font-family: inherit;
    background-color: transparent;
    padding: .2rem 0 .7rem;
    transition: color var(--duration-default);
}
.login-link:before {
    content: "";
    position: absolute;
    inset-block-end: .2rem;
    inset-inline-start: 0;
    width: 100%;
    height: .1rem;
    background-color: black;
}

div#recover-form {
    width: 100%;
}
.custom-login form {
    padding: 15px 0;
}