{% assign all_collection = collections['all-products'] %}

{% if all_collection %}
<div class="home-page-header">
    <div class="home-head-left">
       <img src="{{ all_collection.image | img_url: 'large' }}" alt="{{ all_collection.title }}">
    </div>
    <div class="home-head-right">
        <p>BE WORTHY TO WEAR IT </p>
        <h2 class="home-head-title">
            Diamond Rings For Every Finger
        </h2>
            <a href="{{ all_collection.url }}">explore </a>
    </div>
</div>
{% endif %}
